

Write a python program to displayall the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [ ]:
page.content

In [ ]:
soup= BeautifulSoup(page.content,'html.parser')
soup

In [ ]:
print(soup.prettify())

In [ ]:
heading_tags = ["h1", "h2", "h3"]

In [ ]:
for tags in soup.find_all(heading_tags):
    print(tags.text.strip())

Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [ ]:
first_title=soup.find('div',class_="title")
first_title

In [ ]:
title=soup.find('div',class_="info fleft")
title
#<a class="title fw500 ellipsis" href="https://www.naukri.com/job-listings-hiring-for-data-analyst-mis-reporting-analyst-bangalore-pharmaceutical-research-associates-india-pvt-ltd-bangalore-bengaluru-2-to-4-years-110521000619?src=jobsearchDesk&amp;sid=16217477899213682&amp;xp=5&amp;px=1" title="Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore" target="_blank">Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore</a><div class="mt-7 companyInfo subheading lh16"><a href="https://www.naukri.com/pharmaceutical-research-associates-india-jobs-careers-1347244" class="subTitle ellipsis fleft" target="_blank" title="PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd">PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd</a><span class="starRating fleft dot" title="Powered by Ambition Box">4.2<i class="naukicon naukicon-saved ml-5 fright"></i></span><a class="reviewsCount ml-5 fleft blue-text " href="https://www.ambitionbox.com/reviews/pra-health-sciences-reviews?utm_campaign=srp_ratings&amp;utm_medium=desktop&amp;utm_source=naukri" target="_blank" title="Powered by Ambition Box">(18 Reviews)</a></div><ul class="mt-7"><li class="fleft grey-text br2 placeHolderLi experience"><i class="fleft icon-16 lh16 mr-4 naukicon naukicon-experience"></i><span title="2-4 Yrs" class="ellipsis fleft fs12 lh16">2-4 Yrs</span></li><li class="fleft grey-text br2 placeHolderLi salary"><i class="fleft icon-16 lh16 mr-4 naukicon naukicon-rupee"></i><span title="Not disclosed" class="ellipsis fleft fs12 lh16">Not disclosed</span></li><li class="fleft grey-text br2 placeHolderLi location"><i class="fleft icon-16 lh16 mr-4 naukicon naukicon-location"></i><span title="Bangalore/Bengaluru" class="ellipsis fleft fs12 lh16">Bangalore/Bengaluru</span></li></ul>

In [ ]:
page=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
page.content

In [ ]:
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [ ]:
print(soup.prettify())

In [ ]:
first_movie=soup.find('h3',class_="lister-item-header");
first_movie

In [ ]:
first_movie.text

In [ ]:
first_movie.text.replace('\n',"")

In [ ]:
all_movies=soup.find_all('h3',class_="lister-item-header")
all_movies

In [ ]:
movies=[];
for i in all_movies:
  movies.append(i.text.replace("\n",""))

movies

In [ ]:
page=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
all_movies=soup.find_all('h3',class_="lister-item-header")
all_movies

In [ ]:
for i in all_movies:
  movies.append(i.text.replace("\n",""))

movies

In [ ]:
# saving the dataframe
import pandas as pd
df=pd.DataFrame({})
df['Movie_title']=movies
df.to_csv('file1.csv')

Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [ ]:
page=requests.get("https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1")
page

In [ ]:
page.content

In [ ]:
soup=BeautifulSoup(page.content)

In [ ]:
hindi_movie=soup.find_all('h3',class_="lister-item-header")
hindi_movie

In [ ]:
hindi_movies=[]
for i in hindi_movie:
  hindi_movies.append(i.text.replace("\n",""))
hindi_movies

In [ ]:
rating=soup.find("div",class_="ipl-rating-star small")
str(rating)
rating

In [ ]:
rating.text

In [ ]:
rating=soup.find_all("div",class_="ipl-rating-star small")
movie_rating=[]
for i in rating:
  str(i)
  movie_rating.append(i.text.replace("\n",""))

In [ ]:
movie_rating

In [ ]:
year=soup.find_all("span",class_="lister-item-year text-muted unbold")
release_year=[]
for i in year:
  str(i)
  release_year.append(i.text.replace("\n",""))
release_year

#<span class="lister-item-year text-muted unbold">(1998)</span>

In [ ]:
len(movie_rating),len(release_year),len(hindi_movies)

In [ ]:
import pandas as pd
df=pd.DataFrame({})
df['Movie_title']=hindi_movies
df["Release_year"]=release_year
df["Rating"]=movie_rating

In [ ]:
df['Movie_title']=hindi_movies
df["Release_year"]=release_year
df["Rating"]=movie_rating

In [ ]:
df.head()

In [ ]:
# saving the dataframe
df.to_csv('Hindi_movies.csv')

# 4.Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [ ]:
page=requests.get("https://bookpage.com/reviews/")
soup=BeautifulSoup(page.content)

In [ ]:
book_n=soup.find_all('h4',class_="italic")
book_name=[]
for i in book_n:
  book_name.append(i.text.replace("\n","").replace('★',""))
book_name=book_name[:5]
book_name

In [ ]:
author_n=soup.find_all('p',class_="sans bold")
author_name=[]
for i in author_n:
  author_name.append(i.text.replace("\n",""))
author_name=author_name[:5]
author_name

In [ ]:
genre_n=soup.find_all('p',class_="genre-links hidden-phone")
genre=[]
for i in author_n:
  genre.append(i.text.replace("\n",""))
genre=genre[:5]
genre

In [ ]:
books=pd.DataFrame({})
books["Book Name"]=book_name[:5]
books["Author"]=author_name[:5]
books["Genre"]=genre[:5]
books["Review"]=review[:5]
books

# 5.Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:i)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. ii)Top 10 ODI Batsmen in men along with the records of their team and rating. iii)Top 10 ODI bowlers along with the records of their team and rating

In [ ]:
page5=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup5=BeautifulSoup(page5.content)

In [ ]:
team=soup5.find('span',class_="u-hide-phablet")
team.text

In [ ]:
match_n=soup5.find_all('td',class_="rankings-block__banner--matches")
match=[]
for i in match_n:
  match.append(i.text.replace("\n",""))  
match

In [ ]:
team_n=soup5.find_all('span',class_="u-hide-phablet")
match_n=soup5.find_all('td',class_="table-body__cell u-center-text")
points_n=soup5.find_all('td',class_="table-body__cell u-center-text")
rating_n=soup5.find_all('td',class_="rankings-block__banner--rating u-text-right")
team=[]
matches=[]
points=[]
rating=[]
new_list = [] #empty list
for i in team_n:
  team.append(i.text.replace("\n",""))
team=team[:20]
print(team)
print(len(team))

'''cricket=pd.DataFrame({})
cricket["team"]=team
cricket["match"]=match
cricket["points"]=points
cricket["rating"]=rating
cricket'''

In [ ]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
len(matches),len(points)

In [ ]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in rating_n:
  rating.append(i.text.replace("\n",""))

# 7.Write  a  python  program  to  scrape  details  of  all  the  mobile  phones  under  Rs.  20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [ ]:
page6=requests.get("https://www.amazon.in/s?k=Mobile+phones+under+20000&ref=nb_sb_noss_2")
soup6=BeautifulSoup(page6.content)

In [ ]:
page6.content

In [ ]:
product=soup6.find('span',class_="a-size-medium a-color-base a-text-normal")
product
#a-size-medium a-color-base a-text-normal

In [ ]:
product_n=soup6.find_all('h2',class_="a-size-mini a-spacing-none a-color-base s-line-clamp-4")
product_n=[]
for i in product_n:
  product.append(i.text.replace("\n",""))
product